@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20%;
  height: 15vh;
  padding: 2rem;
}
nav h1 {
  font-family: "Poppins", serif;
  font-size: 36px;
}
.navlinks ul {
  display: flex;
  gap: 10%;
  align-items: center;
  padding: 5rem;
}
.navlinks li,
a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: medium;
  color: black;
  font-weight: 600;
}
.btn-nav button {
  border: none;
  border-radius: 16px;
  width: 15vw;
  height: 5vh;
  color: white;
  background-color: #0c8ce9;
  font-family: "Open Sans" sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* section first content */
.first-content-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
  align-items: center;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text-content h2 {
  font-size: 36px;
  font-family: "Poppins", serif;
}
.text-content span {
  color: #0c8ce9;
}
.text-content h3 {
  font-family: "Poppins", serif;
  font-size: 46px;
}
.text-content p {
  font-family: "Roboto", sans-serif;
  color: #b8b8b8;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.ellipse-shapes {
  width: 60vh;
  height: 60vh;
  background-color: aquamarine;
  border-radius: 50%;
  background-image: url(./images/personal.jpeg);
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.icons {
  display: flex;
  gap: 2rem;
}
.icons ion-icon {
  font-size: 46px;
}

/* about sec */
.aboutme-sec {
  margin-top: 5rem;
}
.mid-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.mid-text h1 {
  font-family: "Poppins", serif;
  font-size: 48px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.mid-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  color: #b8b8b8;
}
.mid-text hr {
  margin-left: 35%;
}
.aboutme-content {
  margin-top: 2rem;
}
.aboutme-content h2 {
  text-align: center;
  font-size: 32px;
  font-family: "Poppins", serif;
}
.ellipse2 {
  width: 30vh;
  height: 30vh;
}
.aboutme-fill-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}
.information-text {
  max-width: 50%;
}

.information-text p {
  text-align: justify;
  font-size: 26px;
  line-height: 1.5;
  color: #746d6d;
}
/* status style */
.icon-status {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.status-content {
  width: 20%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.status-content ion-icon {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  color: #0c8ce9;
}
.status-content h3 {
  font-family: "Poppins", serif;
  color: #b8b8b8;
  font-size: 13px;
}
.status-content h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
/* my skill */
.myskill-content {
  margin-top: 2rem;
}
.myskill-content h3 {
  font-size: 26px;
  padding-left: 13%;
  font-family: "Poppins", serif;
}
.skill-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
  padding-left: 13%;
}
.skill-content {
  text-align: center;
  display: flex;
  align-items: center;
  width: 10%;
  height: 5vh;
  background-color: red;
  border-radius: 10rem;
  font-family: "Poppins", serif;
  font-weight: bold;
}
.skill-content ion-icon {
  padding: 1rem;
}
.html-skill {
  background-color: #feb38a;
  color: #e65100;
}
.css-skill {
  background-color: #4281ff;
  color: #1a66b8;
}
.git-skill {
  background-color: #ff8340;
  color: #e65100;
}
/* certification sec */
.certification-sec {
  margin-top: 2rem;
  padding-left: 13%;
}
.certification-sec h3 {
  font-size: 26px;
  font-family: "Poppins", serif;
}
.certification-content {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.certification-card {
  width: 80vh;
  height: 30vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.card-content ion-icon {
  padding: 10px;
  font-size: 36px;
  color: #0c8ce9;
}
.link-certificate {
  width: fit-content;
  display: flex;
  margin-top: 30%;
  flex-shrink: 0;
}
.certification-card h3 {
  font-size: 20px;
}
.certificate-information {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 365px) and (max-width: 815px) {
  .first-content-page {
    margin-top: 2rem;
  }
  .first-content-page h3 {
    font-family: 20px;
  }
  .icons {
    justify-content: center;
  }
  /* aboutme sectuin */
  .aboutme-sec {
    margin-top: 20rem;
  }
  .information-text {
    max-width: 80%;
  }
  .information-text p {
    font-size: 15px;
  }
  .ellipse-shapes {
    width: 30vh;
    height: 30vh;
  }
  .text-content {
    text-align: center;
    margin-top: 1rem;
  }

  .icon-status {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .status-content {
    flex-direction: column;
    text-align: center;
  }
  /* skill content */
  .myskill-content h3 {
    padding-left: 5%;
  }
  .skill-wrap {
    gap: 0.5rem;
    padding-left: 10%;
  }
  .skill-content {
    width: 30%;
  }
  /* certification */
  .certification-sec {
    padding-left: 5%;
  }
  .certification-card h3 {
    font-size: 15px;
  }
}
